<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div class="container">

    <h1 class="display-2 text-center">List Employees</h1>
    <table class="table border rounded table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e:${employees}">
            <th th:text="${e.firstName}"></th>
            <td th:text="${e.lastName}"></td>
            <td th:text="${e.email}"></td>
        </tr>


        </tbody>


    </table>
    <a th:href="@{/home-page/greetings}" class="text-center btn btn-info">Back to home page</a>
</div>
</body>
</html>